html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body

      p Doador: <strong>#{nome}</strong>
      p Email: <strong>#{email}</strong>

      p Valor: <strong>R$#{amount}</strong>
      p 10%: <strong>#{dezPorcento}</strong>

      p Organização: <strong>#{org}</strong>

      p Mensagem: <strong>#{message}</strong>

      p Boleto: <strong>#{link}</strong> (Caso vazio pagamento realizado por cartão de crédito)
