html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body

      p Doador: <strong>#{nome}</strong>

      p Valor: <strong>R$#{amount}</strong> 

      p Organização: <strong>#{org}</strong> 

      p Mensagem: <strong>#{message}</strong> 
