div.animated.fadeIn#pagOng
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url(' + $ctrl.infoOng.backgroundImage + ')'}")
    h2 {{$ctrl.infoOng.nomeFantasia}}
    md-icon(md-svg-src="./assets/fonts/icons/ic_play_circle_outline_white_48px.svg" 
            aria-label="play"
            ng-click="$ctrl.showDialogVideo()")
    //- md-button.md-raized.md-primary(ng-click="$ctrl.callPagarme(pagarmeForm)") Doar        
  div.container
    div#infos(layout="row" layout-sm="column" layout-xs="column")
      div(flex="80" layout-align="start")
        img#princ(ng-src="")      
      div#smallInfo(layout="column" layout-align="start start")
        checkout-form
    div(layout="column")
      div#lista(layout="column" layout-align="left")
        h2 Sobre
        p(ng-bind-html='$ctrl.infoOng.sobre')
        div#site(layout="row")
          h4 Site: 
          a(ng-href="{{$ctrl.infoOng.urlSite}}" target="_blank")
            p#site {{$ctrl.infoOng.urlSite}}
        md-button.md-raized.md-primary(ng-click="$ctrl.showDialogDonation()") Doar
        h2#resumo Análise
        h3 Impacto
        p(ng-bind-html='$ctrl.infoOng.analiseImpacto')
        h3 Gestão
        p(ng-bind-html='$ctrl.infoOng.analiseGestao')
        h3 Transparência
        p(ng-bind-html='$ctrl.infoOng.analiseTransparencia')
        a(ng-href="{{$ctrl.infoOng.linkPdf}}" target="_blank")
          p#anaCompl Confira aqui nossa análise completa.
        md-button.md-raized.md-primary(ng-click="$ctrl.showDialogDonation()") Doar
contact-form

script(type="text/ng-template" id="dialogVideo.tmpl.pug")
  console.log($scope)
  md-dialog(aria-label="emailSend" ng-cloak)
    iframe(allowfullscreen="true"
           allowscriptaccess="always"
           autoplay = "1"
           frameborder="0"
           height="400px"
           width="500px"
           scrolling="no"
           ng-src="{{detailFrame}}")

script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
  md-dialog(aria-label="emailSend" ng-cloak)
    md-toolbar
      div.md-toolbar-tools
        h2(layout-align="center") Faça sua doação!
        span(flex)
        md-button.md-icon-button(aria-label="md-button ok" ng-click="cancel()") X
    md-dialog-content
      div.md-dialog-content
        form(role="form" name = "pagarmeForm")
          h4 Escolha a organização:
          md-input.md-block(layout="row")
            div(ng-repeat = "org in $ctrl.org")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)" 
                          ng-checked="$ctrl.exists(org, $ctrl.selected)") {{org}}
          h4 Escolha o valor da sua doação:
          md-radio-group(layout="row" ng-model="pagarmeForm.amount" layout-wrap flex)
            md-radio-button(ng-value="1000" aria-label="Label 1") R$ 10
            md-radio-button(ng-value="2000" aria-label="Label 2") R$ 20
            md-radio-button(ng-value="3000" aria-label="Label 2") R$ 30
            md-radio-button(ng-value="5000" aria-label="Label 2") R$ 50
            md-radio-button(ng-value="10000" aria-label="Label 2") R$ 100
            md-radio-button(ng-value="20000" aria-label="Label 2") R$ 200
          br
          md-dialog-actions(layout="row" layout-align="center")
            md-button.md-raized.md-primary#doarMe(ng-click="$ctrl.callPagarme(pagarmeForm)" type="submit") Doar
