div.animated.fadeIn#pagOng
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url(' + $ctrl.infoOng.backgroundImage + ')'}")
    h2 {{$ctrl.infoOng.nomeFantasia}}
    md-icon(md-svg-src="./assets/fonts/icons/ic_play_circle_outline_white_48px.svg" 
            aria-label="play"
            ng-click="$ctrl.carregaVideo()")
    iframe#video(allowfullscreen
                 allowscriptaccess="always"
                 autoplay="1"
                 frameborder="0"
                 scrolling="no"
                 ng-src="{{detailFrame}}")
  div.container
    div(layout="column")
      div#lista(layout="column" layout-align="left")
        p#disclaimer(ng-if='$ctrl.infoOng.givewell') <strong>Disclaimer: </strong> Essa pesquisa foi realizada pela <a href="https://www.givewell.org" target="_blank"><img id="gw" src="./../assets/images/logos/logo_gw.png"></img></a> e traduzida pela doebem.<br><a href="https://www.givewell.org" target="_blank">GiveWell</a> não verificou a tradução desta página, mas apoia a iniciativa.
        h2(ng-if='!$ctrl.infoOng.givewell') Sobre
        p(ng-if='!$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.sobre')
        h2(ng-if='$ctrl.infoOng.givewell') O que a organização faz? 
        p(ng-if='$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.faz')
        h2(ng-if='$ctrl.infoOng.givewell') Isso funciona?
        p(ng-if='$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.funciona')
        h2(ng-if='$ctrl.infoOng.givewell') Qual o impacto da minha doação?
        p(ng-if='$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.dolar')
        h2(ng-if='$ctrl.infoOng.givewell') {{$ctrl.infoOng.nomeFantasia}} é recomendada porque:
        p(ng-if='$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.recommended')
        h2(ng-if='!$ctrl.infoOng.givewell') <i class="fa fa-map-marker"></i> Onde a organização atua?
        p(ng-if='!$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.atuacao')
        h2(ng-if='!$ctrl.infoOng.givewell') <i class="fa fa-dollar"></i> Como sua doação vai ajudar?
        p(ng-if='!$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.ajuda')
        div#site(layout="row")
          h2 <i ng-class="!$ctrl.infoOng.givewell ? 'fa fa-wifi' : ''"></i> Site: 
          a(ng-href="{{$ctrl.infoOng.urlSite}}" target="_blank")
            p#site {{$ctrl.infoOng.urlSite}}
        br
        md-button.md-raized.md-primary(ng-if='!$ctrl.infoOng.givewell' ng-click="$ctrl.showDialogDonation()") Doar
        h2(ng-if='!$ctrl.infoOng.givewell')#resumo Análise
        h3(ng-if='!$ctrl.infoOng.givewell') <i class="fa fa-heart"></i> Impacto
        p(ng-if='!$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.analiseImpacto')
        h3(ng-if='!$ctrl.infoOng.givewell') <i class="fa fa-pie-chart"></i> Gestão
        p(ng-if='!$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.analiseGestao')
        h3(ng-if='!$ctrl.infoOng.givewell') <i class="fa fa-envelope-open"></i> Transparência
        p(ng-if='!$ctrl.infoOng.givewell' ng-bind-html='$ctrl.infoOng.analiseTransparencia')
        a(ng-if='!$ctrl.infoOng.givewell' ng-href="{{$ctrl.infoOng.linkPdf}}" target="_blank")
          p#anaCompl Confira aqui nossa análise completa.
        md-button.md-raized.md-primary(ng-click="$ctrl.showDialogDonation()") Doar
        h3 <i class="fa fa-globe"></i> Objetivos de Desenvolvimento Sustentável
        div
          img#sdgs(ng-repeat="sdg in $ctrl.infoOng.sdgs" src="{{sdg.image}}", alt="")
        p(ng-if='$ctrl.infoOng.givewell') <strong>Observação: </strong> Ao doar para essa organização, seus dados serão compartilhados com a GiveWell. Isso permite que a GiveWell <a href="https://www.givewell.org/about/impact"> mensure seu impacto</a>.
        h4(ng-if='!$ctrl.infoOng.givewell') Fontes
        div#sources(ng-if='!$ctrl.infoOng.givewell' ng-repeat="paper in $ctrl.infoOng.papers")
          ul(ng-if='!$ctrl.infoOng.givewell')
            li(ng-if='!$ctrl.infoOng.givewell')
              a(ng-if='!$ctrl.infoOng.givewell' ng-href="{{paper.link}}" target="_blank")
                p(ng-bind-html='paper.name' ng-if='!$ctrl.infoOng.givewell')
script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
  md-dialog(aria-label="emailSend" ng-cloak)
    md-toolbar
      div.md-toolbar-tools(layout-align="center center")
        h2#donation(layout-align="center center") Faça sua doação!
        span(flex)
        md-button(class="md-icon-button" ng-click="cancel()")
            md-icon(aria-label="Close dialog") close
    md-dialog-content
      div.md-dialog-content        
        form(role="form" novalidate )
          h4 Organizações Brasileiras:
          md-input.md-block(layout="row" 
                            layout-sm="column" 
                            layout-xs="column" 
                            layout-wrap 
                            flex 
                            ng-model="pagarmeForm.donated_to"
                            md-autofocus)
            div(ng-repeat="org in $ctrl.org")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4 Organizações Internacionais:
          md-input.md-block(layout="row" 
                            layout-sm="column"
                            layout-xs="column"
                            layout-wrap
                            flex
                            ng-model="pagarmeForm.donated_to")
            div(ng-repeat="org in $ctrl.orgInt")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4.dialogform Escolha o valor da sua doação:
          md-radio-group(layout="row"
                         layout-sm="column"
                         layout-xs="column"
                         layout-wrap
                         flex
                         ng-model="pagarmeForm.amount"
                         required)
            div(ng-repeat="option in $ctrl.options")
              md-radio-button(ng-value="option.value" aria-label="option.value" 
                              ng-if="!option.input" ng-checked="option.checked") {{option.label}}
              md-radio-button.md-radio-interactive(ng-value="{{$ctrl.Custom}}" 
                                                   aria-label="option.value" 
                                                   ng-if="option.input") 
                input#nav(ng-model="pagarmeForm.input" 
                          type="text"
                          ui-money-mask currency-symbol="R$" placeholder="*Outro"
                          class="ng-pristine ng-untouched ng-valid ng-empty"
                          maxlength="8"
                          name="inputValue"
                          required
                          ng-blur="$ctrl.blured(pagarmeForm)")
          h6.dialogform * Valor mínimo de R$10,00
          br
          h4.dialogform Periodicidade da sua doação:
          div.md-bock(layout-align="center center")
            md-radio-group(layout="row" 
                           layout-sm="column" 
                           layout-xs="column" 
                           layout-wrap 
                           flex 
                           ng-model="pagarmeForm.periodicidade")
              div(ng-repeat="period in $ctrl.periods")
                md-radio-button(ng-value="period.value" aria-label="period.value") {{period.label}}
          br      
          md-input.md-block(layout="row")
            md-checkbox(ng-model="pagarmeForm.doebem" ng-watch ng-checked="true") Acrescentar +10% para a doebem?
          md-input-container.md-block(layout="row")
            h4.dialogform Como você conheceu a doebem?*
            md-select(ng-model="pagarmeForm.origem" required)
              md-option(value="Amigo") Indicação de amigos
              md-option(value="Google") Google
              md-option(value="Outros") Outros (Escreva abaixo)
          br
          md-input-container.md-block(layout="row")
            label Mensagem
            textarea(ng-model="pagarmeForm.mensagem")
          div(vc-recaptcha ng-model="pagarmeForm.myRecaptchaResponse" key="'6LcPN10UAAAAABQMlTtCQlsq6f0lMqUChzupC39t'"  layout="row" layout-align="center center" lang="pt-BR")
          md-dialog-actions(layout="row" layout-align="center")
            md-button.md-raized.md-primary#doarMe(ng-click="$ctrl.callPagarme(pagarmeForm)" 
                                                  type="submit") Doar
          div(layout="row" layout-align="center center")
            i(class="fa fa-lock fa-2x"  aria-hidden="true")
            p#secu Você será direcionado(a) para um ambiente seguro.            
