div.animated.fadeIn#pagOng
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url(' + $ctrl.infoOng.backgroundImage + ')'}")
    h2 {{$ctrl.infoOng.nomeFantasia}}
    md-icon(md-svg-src="./assets/fonts/icons/ic_play_circle_outline_white_48px.svg" 
            aria-label="play"
            ng-click="$ctrl.showDialog()")
  div.container
    div#infos(layout="row" layout-sm="column" layout-xs="column")
      div(flex="80" layout-align="start")
        img#princ(ng-src="")      
      div#smallInfo(layout="column" layout-align="start start")
        checkout-form
    div(layout="column")
      div#lista(layout="column" layout-align="left")
        h2 Sobre
        p(ng-bind-html='$ctrl.infoOng.sobre')
        form#pagar(name="pagarmeForm" layout="column")
          select#valor(ng-init="pagarmeForm.amount" 
                       ng-model="pagarmeForm.amount" 
                       data-donation="{{$ctrl.infoOng.slug}}"
                       style="width: 130px; font-size: 23px"
                       required)
            option(value="" disabled selected) Valor
            option(value="1000") R$10,00
            option(value="2000") R$20,00
            option(value="3000") R$30,00
            option(value="5000") R$50,00
            option(value="10000") R$100,00
            option(value="30000") R$300,00
          br
          md-button.md-raized.md-primary(ng-click="$ctrl.callPagarme(pagarmeForm)") Doar
        h2#resumo Resumo - Análise doebem
        h3 Impacto
        p(ng-bind-html='$ctrl.infoOng.analiseImpacto')
        h3 Gestão
        p(ng-bind-html='$ctrl.infoOng.analiseGestao')
        h3 Transparência
        p(ng-bind-html='$ctrl.infoOng.analiseTransparencia')
        a(ng-href="{{$ctrl.infoOng.linkPdf}}" target="_blank")
          p#anaCompl Confira aqui o arquivo com nossa análise completa.
        form(name="pagarmeForm" layout="column")
          select(ng-model="pagarmeForm.amount" 
                 data-donation="{{$ctrl.infoOng.slug}}" 
                 id="{{$ctrl.infoOng.slug}}"
                 style="width: 130px; font-size: 23px")
            option(value="" disabled selected) Valor
            option(value="1000") R$10,00
            option(value="2000") R$20,00
            option(value="3000") R$30,00
            option(value="5000") R$50,00
            option(value="10000") R$100,00
            option(value="30000") R$300,00
          br
          md-button.md-raized.md-primary(ng-click="$ctrl.callPagarme(pagarmeForm)") Doar
contact-form

script(type="text/ng-template" id="dialogVideo.tmpl.pug")
  console.log($scope)
  md-dialog(aria-label="emailSend" ng-cloak)
    iframe(allowfullscreen="true"
           allowscriptaccess="always"
           autoplay = "1"
           frameborder="0"
           height="400px"
           width="500px"
           scrolling="no"
           ng-src="{{detailFrame}}")
