div.animated.fadeIn#metodologia
  div#pageHeader(flex="100" layout="column" layout-align="center center")
    h2 Doar
  div#comoFunciona(flex="100" layout="column" layout-align="center center")
    div(aria-label="emailSend" ng-cloak)
      div
        div.md-toolbar-tools(layout-align="center center")
          h2#donation(layout-align="center center") Faça sua doação!
          span(flex)
      div
        div.md-dialog-content
          form(role="form")
            h4 Escolha a organização:
            md-input.md-block(layout="row" 
                              layout-sm="column" 
                              layout-xs="column" layout-wrap 
                              layout-align="center center"
                              flex ng-model="pagarmeForm.donated_to")
              div(ng-repeat="org in $ctrl.org")
                md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
            h4 Escolha o valor da sua doação:
            div(layout-align="center center")
              md-radio-group(layout="row" 
                             layout-sm="column" 
                             layout-xs="column" layout-wrap 
                             layout-align="center center"
                             flex ng-model="pagarmeForm.amount")
                div(ng-repeat="option in $ctrl.options")
                  md-radio-button(ng-value="option.value" aria-label="option.value" 
                                  ng-if="!option.input" ng-checked="option.isChecked") {{option.label}}
                  md-radio-button.md-radio-interactive(ng-value="{{$ctrl.Custom}}" 
                                                      aria-label="option.value" 
                                                      ng-if="option.input"
                                                      ng-checked="option.isChecked") 
                    input#nav(ng-model="pagarmeForm.input" type="text" 
                              ui-money-mask currency-symbol="R$" placeholder="Outro"
                              class="ng-pristine ng-untouched ng-valid ng-empty"
                              maxlength="8")
            br
            h4 Qual a periodicidade da sua doação?
            div.md-bock(layout-align="center center")
              md-radio-group(layout="row" 
                             layout-sm="column" 
                             layout-xs="column" 
                             layout-wrap 
                             layout-align="center center"
                             flex 
                             ng-model="pagarmeForm.periodicidade")
                div(ng-repeat="period in $ctrl.periods")
                  md-radio-button(ng-value="period.value" aria-label="period.value") {{period.label}}
            md-input.md-block(layout="row" layout-align="center center")
              md-checkbox(ng-model="pagarmeForm.doebem" ng-watch ng-checked="true") Acrescentar +10% para a doebem?
            md-dialog-actions(layout="row" layout-align="center")
              md-button.md-raized.md-primary#doarMe(ng-click="$ctrl.callPagarme(pagarmeForm)" type="submit") Doar
            //- md-dialog-actions(layout="row" layout-align="center")
            //-   md-button.md-raized.md-primary#doarMe(ng-click type="submit") Doar
            div(layout="row" layout-align="center center")
              i(class="fa fa-lock fa-2x"  aria-hidden="true")
              p#secu Você será direcionado(a) para um ambiente seguro.            
contact-form