div#menu.navbar.navbar-default(ng-class="{mainPageMenu: $ctrl.$location.url()==='/'}")
  div#menuEntries.container
    a(ng-href='/')
      img.navbar-brand(ng-src="/assets/images/logos/logo_menor_7_transparente.png")
    button.navbar-toggle(type='button' ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed' layout-align="center center")
      div(layout="column")
        div(layout="column" layout-align="center center")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar    
    div.navbar-collapse.collapsed.dropdown(uib-collapse='$ctrl.isCollapsed' ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed' layout-align="right right" data-toggle="collapse" data-target=".collapse.in")
      ul.nav.navbar-nav
        li
          a#Itens(href='./sobre') SOBRE
        li#org(uib-dropdown on-toggle="toggled(open)")
            a#Itens(href uib-dropdown-toggle) Organizações <span class="caret"></span>
            ul(class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown")
                li 
                  a(href="./pagOngs/saudecrianca") Saúde Criança
                li 
                  a(href="./pagOngs/renovatio") Renovatio
                li 
                  a(href="./pagOngs/caviver") Caviver
        li
          a#Itens(href='./givewell') GIVEWELL                  
        li.menuAnchor(ng-repeat='item in $ctrl.menu')
          a#Itens(ng-href='{{item.link}}') {{item.title}}
        a#Itens(target="_blank" href="https://medium.com/doebem")
          md-button#blog.md-raized.md-primary Blog
        a#Itens(target="_blank" href="")
          md-button#doar_button.md-raized.md-primary(ng-click="$ctrl.showDialog()") Doar



script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
  md-dialog(aria-label="emailSend" ng-cloak)
    md-toolbar
      div.md-toolbar-tools
        h2#donation(layout-align="center") Faça sua doação!
        span(flex)
        md-button(class="md-icon-button" ng-click="cancel()")
            md-icon(aria-label="Close dialog") close
    md-dialog-content
      div.md-dialog-content
        form(role="form")
          h4 Organizações Brasileiras:
          md-input.md-block(layout="row" 
                            layout-sm="column" 
                            layout-xs="column" layout-wrap flex ng-model="pagarmeForm.donated_to")
            div(ng-repeat = "org in $ctrl.org")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4 Organizações Internacionais:
          md-input.md-block(layout="row" 
                            layout-sm="column" 
                            layout-xs="column" layout-wrap flex ng-model="pagarmeForm.donated_to")
            div(ng-repeat = "org in $ctrl.orgInt")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4 Escolha o valor da sua doação:
          md-radio-group(layout="row"
                         layout-sm="column"
                         layout-xs="column" ng-model="pagarmeForm.amount" layout-wrap flex)
            div(ng-repeat="option in $ctrl.options")
              md-radio-button(ng-value="option.value" aria-label="option.value" 
                              ng-if="!option.input" ng-checked="option.checked") {{option.label}}
              md-radio-button.md-radio-interactive(ng-value="{{$ctrl.Custom}}" 
                                                   aria-label="option.value" 
                                                   ng-if="option.input") 
                input#nav(ng-model="pagarmeForm.input" type="text" 
                      ui-money-mask currency-symbol="R$" placeholder="Outro"
                      class="ng-pristine ng-untouched ng-valid ng-empty")
          br
          md-input.md-block(layout="row")
            md-checkbox(ng-model="pagarmeForm.doebem" ng-watch ng-checked="true") Acrescentar +10% para a doebem?
          md-dialog-actions(layout="row" layout-align="center")
            md-button.md-raized.md-primary#doarMe(ng-click="$ctrl.callPagarme(pagarmeForm)" type="submit") Doar
          div(layout="row" layout-align="center center")
            i(class="fa fa-lock fa-2x"  aria-hidden="true")
            p#secu Você será direcionado(a) para um ambiente seguro.
            