div#main.animated.fadeIn
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading A sua doação faz a diferença
      p#comoFunciona Fazemos a ponte entre doadores e organizações 
      p eficientes que promovem impacto social
      p embasado em estudos e evidência.
      md-list#actions(flex = "100" layout-gt-sm ="row" layout="column" layout-align="center center")
        md-list-item(ng-repeat="step in $ctrl.stepOptions")
            div(layout = "column" layout-align="center center")
              //- span.fa-stack.fa-5x
              //-   i.fa.fa-circle.fa-stack-2x.text-primary
              //-   i#icon.fa.fa-stack-1x(ng-class="step.icon")
              img(src="{{step.icon}}")
              h2 {{step.title}}
              p {{step.desc}}
    div#ongs(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading Organizações
      h3 Selecione uma das organizações recomendadas.
      md-list(flex
          md-cols-gt-xs="2"
          md-cols-gt-md="3"
          md-cols="1"
          md-row-height="4:5"
          md-gutter-gt-sd="10px"
          md-gutter="35px"
          layout-align="center center")
        md-list-item(ng-repeat="ong in $ctrl.listOng" layout="column" layout-align="center center")
          a(ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card
              md-card-title-text(layout-align="center center" layout="column")
                h1 {{ong.nomeFantasia}}
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 200px; height:200px")
              md-card-content(layout-align="center center" layout="column")
                p {{ong.desc}}
    div#nossoImpacto(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Nossos Resultados
      div#numeros(flex="100" layout="row" layout-align="center center")
        div#doadores(flex="100" layout="column")
          h3 9 
          h5 doadores
        div#reaisDoados(flex="100" layout="column")
          h3 R$513 
          h5 doados
contact-form#contato
script(type="text/ng-template" id="img.tmpl.pug")
    div
      img(ng-src="{{slideItem.src}}")
