div#main.animated.fadeIn
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading A sua doação faz a diferença
      p#comoFunciona Fazemos a ponte entre doadores e organizações 
      p eficientes que promovem impacto social
      p embasado em estudos e evidência.
      md-list#actions(flex = "100" layout-gt-sm ="row" layout="column" layout-align="center center")
        md-list-item(ng-repeat="step in $ctrl.stepOptions")
            div(layout = "column" layout-align="center center")
              img(src="{{step.icon}}")
              h2 {{step.title}}
              p {{step.desc}}
    div#ongs(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading Organizações
      h3 Escolha uma organização recomendada para fazer uma doação e mudar o Brasil!
      md-list(flex
          md-cols-gt-xs="2"
          md-cols-gt-md="3"
          md-cols="1"
          md-row-height="4:5"
          md-gutter-gt-sd="10px"
          md-gutter="35px"
          layout-align="center center")
        md-list-item(ng-repeat="ong in $ctrl.listOng" layout="column" layout-align="center center")
          a(ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card.img__wrap
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 300px; height:300px")
              div.img__description_layer
                p.img__description {{ong.desc}}
          a(layout-align="center center" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KP2DX7FKJUWFL")      
            md-button.md-raized.md-primary Doar
contact-form#contato
script(type="text/ng-template" id="img.tmpl.pug")
    div
      img(ng-src="{{slideItem.src}}")
