div#main.animated.fadeIn
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    div#button(flex="100" layout-align="center center")
      a#button(href="/#ongs" style="text-align: center")
        md-button COMECE A AJUDAR
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading A sua doação faz a diferença
      p#comoFunciona Fazemos a ponte entre doadores e organizações 
      p eficientes que promovem impacto social
      p embasado em estudos e evidência.
      md-list#actions(flex = "100" layout-gt-sm ="row" layout="column" layout-align="center center")
        md-list-item(ng-repeat="step in $ctrl.stepOptions")
            div(layout = "column" layout-align="center center")
              img(src="{{step.icon}}")
              h2 {{step.title}}
              p {{step.desc}}
      br
      br
    div#reconhecimentos(flex="100" layout="column" layout-align="center center")
      h3 Confira o que andam falando sobre nós!
      br
      div(flex="100" layout="row"  layout-align="center center")
        div(ng-repeat="midia in $ctrl.midias")
          a(ng-href="{{midia.link}}" target="_blank")
            img#af.mid(ng-src="{{midia.src}}" alt="{{midia.alt}}")
    br
    br
    //- div#modelo(flex="100" layout="column" layout-align="center center")
    //-   h2.sectionHeading Modelo 100%
    //-   p A doebem não cobra nenhuma taxa pela doação realizada para qualquer
    //-   p uma das organizações recomendadas, apenas as taxas das ferramentas
    //-   p de pagamento são cobradas.
    //-   img(src="/assets/images/transparencia/100.png")
    //- br
    //- br
    div#ongs(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading Organizações
      h3 Conheça as organizações recomendadas e faça uma doação para mudar o Brasil!
      md-list(flex 
          md-cols-gt-xs="2"
          md-cols-gt-md="3"
          md-cols="1"
          md-row-height="4:5"
          md-gutter-gt-sd="10px"
          md-gutter="35px"
          layout-align="center center"
          layout="column")
        md-list-item(layout="column" layout-gt-sm ="row" layout-align="center center")
          a(ng-repeat="ong in $ctrl.listOng" ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card.img__wrap
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 300px; height:300px")
              div.img__description_layer
                p.img__description {{ong.desc}}
              br
              div
                md-button(layout-align="center center") Conheça
    newsletter
    div#crianca(flex="100" layout="column" layout-align="center center")
      img#crianca(src="../../assets/images/main/main2.png")
contact-form#contato
script(type="text/ng-template" id="img.tmpl.pug")
    div
      img(ng-src="{{slideItem.src}}")
