link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
div#carousel(flex="100")
  jk-carousel(
        flex="100"
        data="$ctrl.carouselImages"
        item-template-url="'img.tmpl.pug'"
        max-width="2000" 
        max-height="1300"
        auto-slide="true"
        auto-slide-time="3000")
div(layout="column" flex="100")
  div#comoFunciona(flex = "100" layout="column" layout-align="center center")
    h1(flex = "100") Como Funciona
    p A DoeBem surgiu com o objetivo de tornar o processo de doações financeiras mais simples, seguro e efetivo.
    p Como encontrar uma organização para doar? Como garantir que seu dinheiro será usado da melhor forma possível?
    p A DoeBem foi fundada para responder essas perguntas e ajudar você a doar melhor.
    md-list#actions(flex = "100" layout-gt-sm ="row" layout="column" layout-align="center center")
      md-list-item(ng-repeat="step in $ctrl.stepOptions") 
          div#escolha(flex layout = "column" layout-align="center center")
            span.fa-stack.fa-5x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-stack-1x(ng-class="step.icon")
            h3 {{step.title}}
            p {{step.desc}}
  div#causas(flex = "100" layout="column" layout-align="center center")
    H1 Causas
    p Selecione uma causa abaixo para conhecer as ONGs recomendadas.
    md-list#causaActions(flex="100" layout-gt-sm="row" layput="column")
      md-list-item(ng-repeat="causa in $ctrl.causas" layout="column"  layout-align="center center")
        md-card.md-padding
          img.md-card-image(ng-src="{{causa.image}}" )
          md-card-title
            md-card-title-text(layout-align="center center")
              h1 {{causa.title}}
          

  div#metodologia(flex = "100" layout="column" layout-align="center center") 
    h1 Metodologia
    p Baseamos nossa metodologia de análise no movimento Effective Altruism.
    p Clique aqui para conhecer mais sobre nossos critérios e processo de análise.
  div(flex layout="row")   
    div#sobre(flex = "50" layout="column" layout-align="center center") 
      h1 Sobre
      p Conheça quem somos e o que nos motiva.
    div#blog(flex = "50" layout="column" layout-align="center center") 
      h1 Blog
  div#contatos(flex = "100" layout="column" layout-align="center center") 
    h1 Contato

script(type="text/ng-template" id="img.tmpl.pug")
  div
    img( ng-src="{{slideItem.src}}")
