div#main.animated.fadeIn
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    div#textButton.container(flex="100" layout="column" layout-align="center center")
      h2 doe, com certeza
      p Estudamos e avaliamos as oportunidades de doação com maior impacto.
      a#button(href="/#ongs" style="text-align: center")
        md-button CONHEÇA AS ORGANIZAÇÕES
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading A sua doação faz a diferença!
      p#comoFunciona Fazemos a ponte entre doadores e organizações 
      p eficientes que promovem impacto social
      p embasado em estudos e evidência.
      md-list#actions(flex="100" layout-gt-sm="row" layout="column" layout-align="center center")
        md-list-item(ng-repeat="step in $ctrl.stepOptions")
            div(layout = "column" layout-align="center center")
              img(src="{{step.icon}}")
              h2 {{step.title}}
              p {{step.desc}}
    div#doacoes(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading#doados R$ 31.855,94
      p 
        a#transp(href="./transparencia") transferidos pela plataforma!
    div#reconhecimentos(flex="100" layout="column" layout-align="center center")
      h3 Confira o que andam falando sobre nós!
      br
      div(flex="100" layout="row"  layout-align="center center")
        div(ng-repeat="midia in $ctrl.midias")
          a(ng-href="{{midia.link}}" target="_blank")
            img#af.mid(ng-src="{{midia.src}}" alt="{{midia.alt}}")
    div#modelo(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Não cobramos taxa!
      p Nenhuma taxa sobre a doação para as organizações é cobrada, 
      p apenas os custos da ferramenta de pagamento são descontados.
      img(src="/assets/images/transparencia/100.png")
    div#ongs(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Organizações
      h3 Conheça as organizações recomendadas e mude uma vida hoje.
      md-list(flex 
              md-cols-gt-xs="2"
              md-cols-gt-md="3"
              md-cols="1"
              md-row-height="4:5"
              md-gutter-gt-sd="10px"
              md-gutter="35px"
              layout-align="center center"
              layout="column")
        md-list-item(layout="column" layout-gt-sm ="row" layout-align="center center")
          a(ng-repeat="ong in $ctrl.listOng | filter: {givewell: false}" ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card.img__wrap
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 300px; height:300px")
              div.img__description_layer
                p.img__description {{ong.desc}}
              br
        md-list-item(layout="column" layout-gt-sm ="row" layout-align="center center")
          a(ng-repeat="ong in $ctrl.listOng | filter: {givewell: true}" ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card.img__wrap
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 300px; height:300px")
              div.img__description_layer
                p.img__description {{ong.desc}}
        br
        md-button.md-raized.md-primary(ng-click="$ctrl.showDialogDonation()") Doar
        br
    newsletter
contact-form#contato
script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
  md-dialog(aria-label="emailSend" ng-cloak)
    md-toolbar
      div.md-toolbar-tools(layout-align="center center")
        h2#donation(layout-align="center center") Faça sua doação!
        span(flex)
        md-button(class="md-icon-button" ng-click="cancel()")
            md-icon(aria-label="Close dialog") close
    md-dialog-content
      div.md-dialog-content        
        form(role="form" novalidate )
          h4 Organizações Brasileiras:
          md-input.md-block(layout="row" 
                            layout-sm="column" 
                            layout-xs="column" 
                            layout-wrap 
                            flex 
                            ng-model="pagarmeForm.donated_to"
                            md-autofocus)
            div(ng-repeat="org in $ctrl.org")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4 Organizações Internacionais:
          md-input.md-block(layout="row" 
                            layout-sm="column"
                            layout-xs="column"
                            layout-wrap
                            flex
                            ng-model="pagarmeForm.donated_to")
            div(ng-repeat="org in $ctrl.orgInt")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4 Escolha o valor da sua doação:
          md-radio-group(layout="row"
                         layout-sm="column"
                         layout-xs="column"
                         layout-wrap
                         flex
                         ng-model="pagarmeForm.amount"
                         required)
            div(ng-repeat="option in $ctrl.options")
              md-radio-button(ng-value="option.value" aria-label="option.value" 
                              ng-if="!option.input" ng-checked="option.checked") {{option.label}}
              md-radio-button.md-radio-interactive(ng-value="{{$ctrl.Custom}}" 
                                                   aria-label="option.value" 
                                                   ng-if="option.input") 
                input#nav(ng-model="pagarmeForm.input" 
                          type="text"
                          ui-money-mask currency-symbol="R$" placeholder="*Outro"
                          class="ng-pristine ng-untouched ng-valid ng-empty"
                          maxlength="8"
                          name="inputValue"
                          required
                          ng-blur="$ctrl.blured(pagarmeForm)")
          h6 * Valor mínimo de R$10,00
          br
          h4 Periodicidade da sua doação:
          div.md-bock(layout-align="center center")
            md-radio-group(layout="row" 
                           layout-sm="column" 
                           layout-xs="column" 
                           layout-wrap 
                           flex 
                           ng-model="pagarmeForm.periodicidade")
              div(ng-repeat="period in $ctrl.periods")
                md-radio-button(ng-value="period.value" aria-label="period.value") {{period.label}}
          br       
          md-input.md-block(layout="row")
            md-checkbox(ng-model="pagarmeForm.doebem" ng-watch ng-checked="true") Acrescentar +10% para a doebem?
          md-input-container.md-block(layout="row")
            label Mensagem
            textarea(ng-model="pagarmeForm.mensagem")
          div(vc-recaptcha ng-model="pagarmeForm.myRecaptchaResponse" key="'6LcPN10UAAAAABQMlTtCQlsq6f0lMqUChzupC39t'"  layout="row" layout-align="center center" lang="pt-BR")
          md-dialog-actions(layout="row" layout-align="center")
            md-button.md-raized.md-primary#doarMe(ng-click="$ctrl.callPagarme(pagarmeForm)" 
                                                  type="submit") Doar
          div(layout="row" layout-align="center center")
            i(class="fa fa-lock fa-2x"  aria-hidden="true")
            p#secu Você será direcionado(a) para um ambiente seguro.
//- TESTE PARA COLOCAR COUNTER - NÃO DELETAR
//- script(type="text/javascript" id="total_arrecadado")
//-     var contador = new CountUp("total_arrecadado", 0, 37450.21 , 2, 3);

//-     //
//-     flag_stats = 0;
//-     function isInView(elem){
//-         return screen.availHeight+$(window).scrollTop()-60-$(elem).offset().top>0 ;
//-     }
//-     $(window).scroll(function(){
//-         if(!flag_stats){
//-             if (isInView($('#total_arrecadado'))){
//-                 contador.start();
//-             }
//-         }
//-     });

//- script(type="text/javascript").
//-     var contador = new CountUp("total_arrecadado", 0, 37450.21 , 2, 3);

//-     //
//-     flag_stats = 0;
//-     function isInView(elem){
//-         return screen.availHeight+$(window).scrollTop()-60-$(elem).offset().top>0 ;
//-     }
//-     $(window).scroll(function(){
//-         if(!flag_stats){
//-             if (isInView($('#total_arrecadado'))){
//-                 contador.start();
//-             }
//-         }
//-     });

//- script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
//-   md-dialog(aria-label="emailSend" ng-cloak)
//-     md-toolbar
//-       div.md-toolbar-tools
//-         h2#donation(layout-align="center") Faça sua doação!
//-         span(flex)
//-         md-button(class="md-icon-button" ng-click="cancel()")
//-             md-icon(aria-label="Close dialog") close
//-     md-dialog-content
