div.animated.fadeIn#main
  div#carousel(flex="100")
    jk-carousel(
          flex="100"
          data="$ctrl.carouselImages"
          item-template-url="'img.tmpl.pug'"
          max-width="2140" 
          max-height="1000"
          auto-slide="true"
          auto-slide-time="4000")             
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex = "100" layout="column" layout-align="center center")
      h2.sectionHeading Como Funciona
      p#comoFunciona A doebem é uma plataforma online que potencializa impacto positivo ao conectar doadores com 
      p organizações sociais eficientes, selecionadas a partir de critérios rigorosos.
      p Veja abaixo como funciona!
      md-list#actions(flex = "100" layout-gt-sm ="row" layout="column" layout-align="center center")
        md-list-item(ng-repeat="step in $ctrl.stepOptions") 
            div#escolha(layout = "column" layout-align="center center")
              span.fa-stack.fa-5x
                i.fa.fa-circle.fa-stack-2x.text-primary
                i#icon.fa.fa-stack-1x(ng-class="step.icon")
              h2 {{step.title}}
              p {{step.desc}}
    div#causas(flex = "100" layout="column" layout-align="center center")
      H2.sectionHeading Causas
      h3 Selecione uma causa abaixo para conhecer as organizações recomendadas.
      md-list( layout-gt-sm="row" layput="column")
        md-list-item(ng-repeat="causa in $ctrl.causas" layout="column" layout-align="center center")
          a(ng-href="{{$location.absUrl() + causa.link}}")
            md-card
              img.md-card-image(ng-src="{{causa.image}}" )
              md-card-title
                md-card-title-text(layout-align="center center")
                  h1 {{causa.title}}
                  h4.listItem {{causa.subtitle}}
contact-form#contato
script(type="text/ng-template" id="img.tmpl.pug")
    div
      img(ng-src="{{slideItem.src}}")
