div#checkoutComponent(layout="column")
  h2#doe(layout-align="center") Ajude aqui!
  br
  div(layout="column" flex="100")
    //- criar a funcao que vai pegar o form e jogar no server
    form#checkoutForm(
      name="$ctrl.donationForm" 
      layout="column" 
      ng-submit="$ctrl.addTransaction($event)" 
      ng-switch="step"
      )
      div#values.formStep.active.formStep.limitStep(layout="column" flex="100" ng-switch-when="1")
        div#initial
          p Error: {{ $ctrl.donationForm.initialValue.$error }}
          md-input-container
            label Valor
            input#valor(
              name="initialValue"
              ng-model="initialValue" 
              type="text"
              ui-money-mask=2
              ng-change="$ctrl.changeInitialValue(initialValue)"
              ng-focus="$event.target.select()"
              min="0.01" required
            )
            div(ng-messages="$ctrl.donationForm.initialValue.$error")
              div(ng-message="min") Por favor insira um valor. 
              div(ng-message="required") Por favor insira um valor. 
          div#chkBox(layout="row" layout-align="start stretch")
            input(
              name="doacao_doebem" 
              id="doacao_doebem" 
              type="checkbox" value="" ng-model="donationForm.checked" 
              ng-change="$ctrl.changeInitialValue()"
            )
            label#labelChkbox(for="doacao_doebem") Adicione 10% para a doebem?
          h2 Total: R$ {{ $ctrl.donationForm.amount}}
      div#info.formStep(layout="column" flex="30" display="none" ng-switch-when="2")
        md-input-container.md-block.containerForm(flex-gt-sm)
          input(placeholder = "Nome" ng-model="$ctrl.donationForm.donor.name" required)
        md-input-container.md-block.containerForm
          input(placeholder = "Email" type="email" ng-model="$ctrl.donationForm.donor.email" required)
        md-input-container.md-block.containerForm
          input(placeholder = "CPF" ng-model="$ctrl.donationForm.donor.cpf" ui-br-cpf-mask required) 
        md-input-container.md-block.containerForm
          input(placeholder = "Cidade" ng-model="$ctrl.donationForm.donor.cidade" required)
        md-input-container.md-block.containerForm#whereListened
          md-select(ng-model="$ctrl.donationForm.donor.source" placeholder="Como você ouviu falar de nós?" required)
            md-option(ng-value="opt" ng-repeat="opt in $ctrl.source") {{ opt }}  
      div#creditCard.formStep.limitStep(layout="column" flex="100" display="none" ng-switch-when="3")
        md-input-container.md-block.containerForm(flex-gt-sm)
          input(placeholder="Número do Cartão" 
            type="text" ng-model="$ctrl.donationForm.paymentInfo.ccInfo.number" 
            name="number" payments-validate="card" payments-format="card" 
            payments-type-model="$ctrl.donationForm.paymentInfo.ccInfo.brand"  
            payments-length="card" ng-class="$ctrl.donationForm.paymentInfo.ccInfo.brand" required
            )
          md-icon(ng-class="$ctrl.donationForm.paymentInfo.ccInfo.brand")
          div(ng-messages="$ctrl.donationForm.paymentInfo.ccInfo.number.$error" role="alert")
            div(ng-message-exp="['required']")
              span Cartão inválido, favor informar um cartão válido
        md-input-container.md-block.containerForm
          input(placeholder="Validade do Cartão" type="text"
                ng-model="$ctrl.donationForm.paymentInfo.ccInfo.expDate" 
                payments-validate="expiry" payments-format="expiry" required)
          div(ng-messages="$ctrl.donationForm.paymentInfoccInfo.expDate.$error" role="alert")
            div(ng-message-exp="['required']")
              span O campo deve ser escrito da seguinte maneira MM / AA
        md-input-container.md-block.containerForm
          input(placeholder="Código de Segurança" type="text" ng-model="$ctrl.donationForm.paymentInfo.ccInfo.securityCode" 
                ng-pattern="/^[0-9]{3,4}$/" payments-validate="cvc" payments-format="cvc" required)
      div#controls
          button.checkoutFormStepChange.btn.btn-block(
            ng-show="$ctrl.showNext" ng-click="$ctrl.nextStep()" type="button"
            ) Continuar
          button.checkoutFormStepChange.btn.btn-block.btn-clear(
            ng-show="$ctrl.showPrevious" ng-click="$ctrl.previousStep()"  type="button"
            ) Voltar
      div#formSubmit(layout="column" layout-align="center center")
          button#checkoutFormSubmit.btn.btn-block.btn-stepng-hide(ng-show="$ctrl.showSend" type="submit") Enviar

script(type="text/ng-template" id="dialogDonationMade.tmpl.pug")
  md-dialog(aria-label="donationMade")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Doação realizada com sucesso!
          span(flex)
          md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
            md-icon
              ng-md-icon.name(icon="close" style="fill: white")
      md-dialog-content
        div.md-dialog-content
          h2 {{$ctrl.name}}, muito obrigado pela sua doação! :)
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Ok
        