div#checkoutComponent(layout="column")
  h2#doe(layout-align="center") Ajude aqui!
  br
  div(layout="column" flex="100")
    //- criar a funcao que vai pegar o form e jogar no server
    form#checkoutForm(
      name="donationForm" 
      layout="column" 
      ng-submit="$ctrl.addTransaction($event)" 
      ng-switch="step"
      )
      div#values.formStep.active.formStep.limitStep(layout="column" flex="100" ng-switch-when="1")
        div#initial
          div#initialValue(layout="row" layout-align="top center")
            md-input-container.md-block.containerForm(flex="65")
              label Valor
              input#valor(
                name="initialValue"
                ng-model="$ctrl.donationForm.initialValue" 
                type="text"
                ui-money-mask=2
                ng-change="$ctrl.changeInitialValue()"
                ng-focus="$event.target.select()"
                min="0.01" required
              )
              div(ng-messages="donationForm.initialValue.$error")
                div(ng-message-exp="['min', 'required']") Por favor insira um valor. 
            div#chkBox(layout="row" layout-align="start stretch" flex)
              input(
                name="doacao_doebem" 
                id="doacao_doebem" 
                type="checkbox" value="" ng-model="$ctrl.donationForm.checked" 
                ng-change="$ctrl.changeInitialValue()"
              )
              label#labelChkbox(for="doacao_doebem") Adicione 10% para a doebem?
          h2 Total: R$ {{$ctrl.donationForm.paymentInfo.amount}}
      div#info.formStep(layout="column" flex="30" display="none" ng-switch-when="2")
        md-input-container.md-block.containerForm(flex-gt-sm)
          input#donorName(
            name="name"
            placeholder="Nome" 
            ng-model="$ctrl.donationForm.donor.name" 
            required
          )
          div(ng-messages="donationForm.name.$error")
            div(ng-message="required") Por favor insira um nome válido.
        md-input-container.md-block.containerForm
          input#donorEmail(
            placeholder = "Email" 
            name="email"
            type="email"
            ng-model="$ctrl.donationForm.donor.email" 
            required
          )
          div(ng-messages="donationForm.email.$error")
            div(ng-message="required") Por favor insira um email válido. 
        md-input-container.md-block.containerForm
          input(
            name="cpf"
            placeholder="CPF" 
            ng-model="$ctrl.donationForm.donor.cpf"
            ui-br-cpf-mask 
            required
          ) 
          div(ng-messages="donationForm.cpf.$error")
            div(ng-message-exp="['required', 'cpf']") Por favor insira um CPF válido. 
        md-input-container.md-block.containerForm
          input(
            placeholder = "Cidade" 
            name="cidade"
            ng-model="$ctrl.donationForm.donor.cidade" 
            required
          )
          div(ng-messages="donationForm.cidade.$error")
            div(ng-message="required") Por favor insira uma cidade. 
        md-input-container#whereListened.md-block.containerForm
          md-select(
            name="source"
            ng-model="$ctrl.donationForm.donor.source" 
            placeholder="Como você ouviu falar de nós?" 
            required
          )
            md-option(ng-value="opt" ng-repeat="opt in $ctrl.source") {{ opt }}
          div(ng-messages="donationForm.source.$error")
            div(ng-message="required") Por favor selecione uma opção.
      div#creditCard.formStep.limitStep(layout="column" flex="100" display="none" ng-switch-when="3")
        md-input-container.md-block.containerForm(flex-gt-sm)
          input(
            placeholder="Número do Cartão" 
            type="text" 
            ng-model="$ctrl.donationForm.paymentInfo.ccInfo.number" 
            name="number" 
            payments-validate="card" 
            payments-format="card" 
            payments-type-model="$ctrl.donationForm.paymentInfo.ccInfo.brand"  
            payments-length="card" 
            ng-class="$ctrl.donationForm.paymentInfo.ccInfo.brand"
            required
          )
          md-icon(ng-class="$ctrl.donationForm.paymentInfo.ccInfo.brand")
          div(ng-messages="donationForm.number.$error")
            div(ng-message-exp="['required', 'card']")  Cartão inválido, favor informar um cartão válido
        md-input-container.md-block.containerForm
          input(
            name="expDate"
            placeholder="Validade do Cartão" 
            type="text"
            ng-model="$ctrl.donationForm.paymentInfo.ccInfo.expDate" 
            payments-validate="expiry" 
            payments-format="expiry" 
            required
          )
          div(ng-messages="donationForm.expDate.$error")
            div(ng-message-exp="['required', 'expiry']") O campo deve ser escrito da seguinte maneira MM / AA
        md-input-container.md-block.containerForm
          input(
            name="securityCode"
            placeholder="Código de Segurança" 
            type="text" 
            ng-model="$ctrl.donationForm.paymentInfo.ccInfo.securityCode" 
            ng-pattern="/^[0-9]{3,4}$/" 
            payments-validate="cvc" 
            payments-format="cvc" 
            required
          )
          div(ng-messages="donationForm.securityCode.$error")
            div(ng-message-exp="['required', 'cvc']") Informar um cvc válido
      div#controls
          button.checkoutFormStepChange.btn.btn-block(
            ng-show="$ctrl.showNext" ng-click="$ctrl.nextStep()" type="button"
            ) Continuar
          button.checkoutFormStepChange.btn.btn-block.btn-clear(
            ng-show="$ctrl.showPrevious" ng-click="$ctrl.previousStep()"  type="button"
            ) Voltar
      div#formSubmit(layout="column" layout-align="center center")
          button#checkoutFormSubmit.btn.btn-block.btn-stepng-hide(ng-show="$ctrl.showSend" type="submit") Enviar

script(type="text/ng-template" id="dialogDonationMade.tmpl.pug")
  md-dialog(aria-label="donationMade")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Doação realizada com sucesso!
          span(flex)
          md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
            md-icon
              ng-md-icon.name(icon="close" style="fill: white")
      md-dialog-content
        div.md-dialog-content
          h2 {{$ctrl.donationForm.donor.name}}, muito obrigado pela sua doação! :)
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Ok
        