div.animated.fadeIn#metodologia
  div#pageHeader(flex="100" layout="column" layout-align="center center")
    h2 GiveWell
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex="100" layout="column" layout-align="center center")
      p Text explaining more about GiveWell's work
      p Text explaining more about GiveWell's work
      p#last Confira abaixo!
    div#ongs(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Organizações
      h3 Conheça as organizações recomendadas e mude uma vida hoje.
      md-list(flex 
              md-cols-gt-xs="2"
              md-cols-gt-md="3"
              md-cols="1"
              md-row-height="4:5"
              md-gutter-gt-sd="10px"
              md-gutter="35px"
              layout-align="center center"
              layout="column")
        md-list-item(layout="column" layout-gt-sm="row" layout-align="center center")
          a(ng-repeat="ong in $ctrl.listOng | filter: { givewell: true}" ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card.img__wrap
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 300px; height:300px")
              div.img__description_layer
                p.img__description {{ong.desc}}
              br
              div
                md-button(layout-align="center center") Conheça  
contact-form