div.animated.fadeIn#listOngs
  div#pageHeader(flex="100"  layout="column" layout-align="center center" ng-style="{'background-image': 'url({{$ctrl.pageImage}})'}")
    h2 {{$ctrl.pageTitle}}
  div#mainListOngs(layout="column" flex="100")
      br
      h3 Abaixo estão as ONGs que mais se destacaram em nossos critérios de avaliação.
      br
      md-grid-list#listOngs(flex
          md-cols-gt-xs="2"
          md-cols-gt-md="3"
          md-cols="1"
          md-row-height="4:5"
          md-gutter-gt-sd="10px"
          md-gutter="35px"
          layout-align="center center")
        md-grid-tile(ng-repeat="ong in $ctrl.listOngToDisplay")
          div(layout="column" layout-fill)
            a#ong(ng-href="pagOngs/{{ong.slug}}")
              md-card
                md-card-title
                  md-card-title-text(layout-align="center center" layout="column")
                    h1 {{ong.nomeFantasia}}
                    br
                    img(ng-src="{{ong.logo}}" style="width: 200px; height:200px")
                md-card-content(layout-align="center center" layout="column")
                  p {{ong.desc}}
                  md-list
                    md-list-item(ng-repeat="loc in ong.localidadesDeAtuacao")
                      h4 Atua em: {{loc.localidade}}
            br
            div(layout="row" layout-align="center center")
              a(target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KP2DX7FKJUWFL")
                md-button.md-raised.md-primary Doar
            br
            br
              //- a(ng-href="pagOngs/{{ong.slug}}")
                md-button.md-raised.md-primary Ajudar
  //- div(layout="row" layout-align="center center")
  //-   h4 Todas organizações são analisadas anualmente.
  //- div(layout="row" layout-align="center center")   
  //-   h4 Desta maneira, em análise futura, podemos deixar de recomendar uma organização e/ou recomendar novas.            
contact-form