div#main.animated.fadeIn
  div#pageHeader(flex="100"  layout="column" layout-align="center center")
    div#textButton.container(flex="100" layout="column" layout-align="center center")
      h2 com uma doação, você faz a diferença
      p Ajude uma organização de forma efetiva e potencialize impacto positivo.
  div#mainPage(layout="column" flex="100")
    div#comoFunciona(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Passo 1
      h2.sectionHeading Conheça a doebem
      p#comoFunciona Queridos amigos, esse ano quis fazer algo diferente no meu aniversário. Gostaria de pedir que ao invés de presentes, realizem uma doação de qualquer valor para uma das organizações recomendada pela doebem.
      p#comoFunciona A doebem é uma organização que estuda e avalia as oportunidades de doação com maior impacto. Todas as organizações recomendadas são rigorosamente analisadas com base em uma série de critérios para garantir que a sua doação ajude o maior número de pessoas da melhor forma possível!
      p#comoFunciona Estou muito feliz em realizar essa ação e agradeço a todos pelo apoio!
    div#ongs(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Passo 2
      h2.sectionHeading Escolha uma Organização
      h3 Conheça as organizações recomendadas e mude uma vida hoje.
      md-list(flex 
              md-cols-gt-xs="2"
              md-cols-gt-md="3"
              md-cols="1"
              md-row-height="4:5"
              md-gutter-gt-sd="10px"
              md-gutter="35px"
              layout-align="center center"
              layout="column")
        md-list-item(layout="column" layout-gt-sm="row" layout-align="center center")
          a(ng-repeat="ong in $ctrl.listOng" ng-href="{{$location.absUrl() + '/pagOngs/' + ong.slug}}")
            md-card.img__wrap
              img.md-card-image(ng-src="{{ong.logo}}" layout-align="center center"
                                style="width: 300px; height:300px")
              div.img__description_layer
                p.img__description {{ong.desc}} 
    div#comoFunciona(flex="100" layout="column" layout-align="center center")
      h2.sectionHeading Passo 3
      h2.sectionHeading Faça uma doação
      br
      md-button.md-raized.md-primary(ng-click="$ctrl.showDialog()") Doar

script(type="text/ng-template" id="dialogDonateNavbar.tmpl.pug")
  md-dialog(aria-label="emailSend" ng-cloak)
    md-toolbar
      div.md-toolbar-tools(layout-align="center center")
        h2#donation(layout-align="center center") Faça sua doação!
        span(flex)
        md-button(class="md-icon-button" ng-click="cancel()")
            md-icon(aria-label="Close dialog") close
    md-dialog-content
      div.md-dialog-content
        form(role="form")
          h4 Escolha a organização:
          md-input.md-block(layout="row" 
                            layout-sm="column" 
                            layout-xs="column" layout-wrap flex ng-model="pagarmeForm.donated_to")
            div(ng-repeat = "org in $ctrl.org")
              md-checkbox(ng-click="$ctrl.toggle(org, $ctrl.selected)") {{org}}
          h4 Escolha o valor da sua doação:
          md-radio-group(layout="row" 
                         layout-sm="column" 
                         layout-xs="column" layout-wrap flex ng-model="pagarmeForm.amount")
            div(ng-repeat="option in $ctrl.options")
              md-radio-button(ng-value="option.value" aria-label="option.value" 
                              ng-if="!option.input" ng-checked="option.checked") {{option.label}}
              md-radio-button.md-radio-interactive(ng-value="{{$ctrl.Custom}}" 
                                                   aria-label="option.value" 
                                                   ng-if="option.input") 
                input#nav(ng-model="pagarmeForm.input" type="text" 
                          ui-money-mask currency-symbol="R$" placeholder="Outro"
                          class="ng-pristine ng-untouched ng-valid ng-empty"
                          maxlength="8")
          br
          md-input.md-block(layout="row")
            md-checkbox(ng-model="pagarmeForm.doebem" ng-watch ng-checked="true") Acrescentar +10% para a doebem?
          md-dialog-actions(layout="row" layout-align="center")
            md-button.md-raized.md-primary#doarMe(ng-click="$ctrl.callPagarme(pagarmeForm)" type="submit") Doar
          div(layout="row" layout-align="center center")
            i(class="fa fa-lock fa-2x"  aria-hidden="true")
            p#secu Você será direcionado(a) para um ambiente seguro.
