html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      h1.h1 Obrigado por sua mensagem.
      
      h3 Abaixo está uma cópia da sua mensagem:

      p <strong>Nome:</strong> #{name}

      p <strong>E-mail:</strong> #{email}

      p <strong>Telefone:</strong> #{telefone}

      p <strong>Mensagem:</strong> "#{message}"

      p Iremos responde-lá o mais rápido possível.

      p Obrigado,

      p Equipe doebem

      //- Siga a doebem nas redes sociais
